body {
  background: #111827;
  font-family: "Courier New";
  width: 100%;
  margin: 0px 0px 20px 0px;
  position: relative;
}

body > div {
  position: fixed;
  width: 100%;
  margin-bottom: 1px;
  background-color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 5px;
  align-items: center;
  padding-left: 8.5%;
}

span > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 0px 20px;
  border-right: 1px solid #676767;
}

nav {
  padding-left: 10px;
}

nav > a {
  color: #858585;
  text-decoration: none;
  padding: 0px 5px;
}

section {
  margin-bottom: 25px;
  padding-top: 4.5%;
}

section > div {
  padding-left: 9.7%;
}

h1 {
  color: #fff;
  margin: 0px;
  padding: 22px 0px !important;
}

h3 a {
  color: #858585;
}

h3 a:hover {
  color: #37d865;
}

pre {
  background-color: #858585;
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  max-width: 100%;
  text-align: left;
  margin: 0px auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

@media (max-width: 622px) {
  body > div {
    justify-content: center;
    padding-left: 0px;
  }

  span > a {
    border-right: none;
  }

  section {
    padding-top: 15%;
  }
}
